/* CSS styles for flipbook */
body {margin:0; padding:0; background-color:#efefef; font-family: Arial, Helvetica, sans-serif;}
#flipbook {width: 90%; max-width: 1050px; margin:50px auto;}
#flipbook .page {width:100%; height:100%; overflow: hidden; position: relative;}
#flipbook .page img {width:100%;height:auto;}
 

.nav-btn {
  color: #ffffff;
  transform: translateY(-50%);
  background: rgba(15, 92, 109, 1);
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  transition: background 0.2s;
}
.nav-btn:hover { background: rgba(15, 92, 109, 0.7); }

#prevBtn { left: -50px; }
#nextBtn { right: -50px; }

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(15, 92, 109, 0.9);
    text-align: center;
    padding: 12px 0;
    z-index: 9999;
}

#bottom-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.2s ease;
}

#bottom-bar a:hover {
    color: #f0f0f0;
}

/* Styles for zoom */
.page { overflow: hidden; position: relative; }
.page img {
  width: 100%; height: 100%; object-fit: cover;
  transition: transform 0.3s ease;
  cursor: zoom-in;
  user-select: none;
}

/* Version mobile : boutons plus gros et espacés */
@media (max-width: 768px) {
  .nav-btn {
    font-size: 3rem;        /* plus lisible */
    padding: 1.5rem 2.5rem;       /* plus de zone cliquable */
    border-radius: 12px;      /* coins légèrement arrondis */
    box-shadow: 0 4px 12px rgba(0,0,0,0.35);
  }

  #prevBtn { left: -30px; }   /* ajustement léger sur mobile */
  #nextBtn { right: -30px; }

  .nav-buttons {
    margin-top: 30px;         /* plus d'espace avec le flipbook */
    text-align: center;       /* centré sur mobile */
  }
}
